<div style="margin: auto; width: 66%;">
  <mat-card
    style="margin-bottom: 0; padding-bottom: 0; margin-top: 0em; padding-top: 0em;"
    class="mat-card-flat"
  >
    <mat-card-title>
      <a routerLink="/services">Apps</a>
      <mat-icon
        style="vertical-align: middle; padding-left: 0.5em; padding-right: 0.5em;"
        >keyboard_arrow_right</mat-icon
      >
      New
      <!-- Using ngif here breaks viewchild, see:
          https://stackoverflow.com/questions/39158922/viewchild-not-working-cannot-read-property-nativeelement-of-undefined
        -->
    </mat-card-title>
  </mat-card>
  <mat-card style="padding-top: 0; margin-top: 0;" class="mat-card-flat">
    <!-- Next level cruft alert. Input box adds margin which is not present on steps 1+ -->
    <br />

    <br />
    <div>
      <div>
        <mat-form-field class="full-width-field">
          <mat-label>Project name</mat-label>
          <input
            id="sinput"
            #sinput
            matInputAutofocus
            matInput
            [(ngModel)]="alias"
            (keyup)="keyPress($event)"
            autocomplete="off"
          />
          <mat-error *ngIf="projectExists">Service already exists.</mat-error>
          <mat-spinner
            *ngIf="loadingProjects"
            matSuffix
            [diameter]="18"
            style="float: right; margin-left: 8px"
          ></mat-spinner>
        </mat-form-field>
      </div>
      <div>
        <br />
        <mat-form-field class="full-width-field">
          <mat-label>Source</mat-label>
          <input
            id="sinput"
            #sinput
            matInputAutofocus
            matInput
            [(ngModel)]="source"
            autocomplete="off"
          />
          <mat-hint
            >GitHub link to your repository or a folder inside that repository,
            eg. "https://github.com/yourname/repo"</mat-hint
          >
        </mat-form-field>
      </div>
      <div>
        <br />
        <mat-form-field class="full-width-field">
          <mat-label>Language / Framework</mat-label>
          <mat-select [(value)]="selectedBuildPack">
            <mat-option *ngFor="let bp of buildPacks" value="{{ bp.name }}">{{
              bp.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <br />
        <button mat-raised-button (click)="create()" color="primary">
          Deploy
        </button>
      </div>
    </div>
  </mat-card>
</div>
